<span *ngIf="isLoading"><app-loading /></span>
<div *ngIf="!isLoading">
  <div *ngIf="!currEditedCategory">
    <p *ngFor="let category of categories" class="category">
      ID: {{ category.id }} - {{ category.title }}
      <span>
        <span
          (click)="editQuestion(category)"
          class="material-symbols-outlined icon"
          >edit</span
        >
        <span
          (click)="deleteCategory(category)"
          class="material-symbols-outlined icon"
        >
          delete
        </span>
      </span>
    </p>
  </div>
</div>
