<div class="quizContainer">
    <h2>Quiz</h2>
    <p class="question">{{questionNumber}}. {{questionsList[questionNumber-1].question}}</p>
    <div class="answer">{{questionsList[questionNumber-1].options[0].answer}}</div>
    <div class="answer">{{questionsList[questionNumber-1].options[1].answer}}</div>
    <div class="answer">{{questionsList[questionNumber-1].options[2].answer}}</div>
    <div class="answer">{{questionsList[questionNumber-1].options[3].answer}}</div>
    <div class="controlls">
        <button class="btn btn-prev" (click)="prevQuestion()">Poprzednie</button>
        <button class="btn btn-next" (click)="nextQuestion()">Dalej</button>
    </div>
    <p class="questionNr">Pytanie {{questionNumber}} z {{questionsList.length}}</p>
</div>