<div class="quizContainer" *ngIf="!error && isLoading === false">
    <h2>Quiz</h2>
    <!-- <h2>{{category}}</h2> -->
    <p class="question">{{questionNumber}}. {{questionsList[questionNumber-1].question}}</p>
    <div class="answers">
        <div class="answer" (click)="selectAnswer(0)">{{questionsList[questionNumber-1].options[0].answer}}</div>
        <div class="answer" (click)="selectAnswer(1)">{{questionsList[questionNumber-1].options[1].answer}}</div>
        <div class="answer" (click)="selectAnswer(2)">{{questionsList[questionNumber-1].options[2].answer}}</div>
        <div class="answer" (click)="selectAnswer(3)">{{questionsList[questionNumber-1].options[3].answer}}</div>
    </div>
    <!-- <div class="controlls"> -->
    <!-- <button class="btn btn-prev" (click)="prevQuestion()">Poprzednie</button> -->
    <!-- <button class="btn btn-next" (click)="nextQuestion()">Dalej</button> -->
    <!-- </div> -->
    <div class="summary">
        <p class="questionNr">Pytanie {{questionNumber}} z {{questionsList.length}}</p>
        <p class="points">Punkty: {{points}}</p>
    </div>
</div>

<div *ngIf="isLoading">
    <h2>Loading..</h2>
</div>

<div *ngIf="error">
    <h2>Coś poszło nie tak, spróbuj ponownie.</h2>
</div>