.container {
  display: flex;
  flex-direction: column;
  width: 85%;
  text-align: center;
}

.description {
  margin: 4rem 0 4rem 0px;
}

.description p {
  margin-top: 3rem;
}

.rulesList {
  padding: 0;
  list-style-type: decimal;
  text-align: left;
  font-size: 0.9rem;
}

.rulesList li {
  margin: rem 0;
}

.buttons {
  margin-top: 4rem;
}
