<div class="appContainer">
    <div class="container">
        <div class="description">
            <h2 class="title">Witaj w Quizie!</h2>
            <p>Przedstawiam quiz, który sprawdzi Twoją wiedzę spośród kilku dostępnych dziedzin. Wybierz kategorię
                pytań, a następnie odpowiedź na
                wszystkie, po zakończeniu zobaczysz jaki wynik udało Ci się uzyskać.</p>
        </div>
        <div>
            <h4 class="rulesContainer">Zasady</h4>
            <ul class="rulesList">
                <li>
                    Na rozwiązanie quizu masz ograniczony czas, jest on wyświetlany dolnym prawym rogu. W chwili gdy
                    czas dobiegnie do zera, quiz autmatycznie się zakończy.
                </li>
                <li>Za każdą poprawną odpowiedź zdobędziesz 1pkt.</li>
                <li>
                    Wyniki zobaczysz na ekranie podsumowania rozwiązaniu wszystkich pytań.
                </li>
                <li>
                    Nie zamykaj okna z quizem.
                </li>
                <li>
                    Powodzenia!
                </li>
            </ul>
        </div>

        <div class="buttons">
            <button class="btn" (click)="closeWelcome()">Zaczynamy</button>
        </div>
    </div>
</div>