<div>
    <div class="buttonsPanel">
        <h1 class="title">Admin Page</h1>
        <span class="buttons">
            <button class="btn" routerLink='/'>Quiz</button>
            <button class="btn" routerLink='/admin/categories'>Categories</button>
            <button class="btn" routerLink='/admin/results'>Results</button>
        </span>
    </div>
    <div class="router-outlet">
        <router-outlet></router-outlet>
    </div>
</div>
<div class="authBlock">
    <h3>Zaloguj</h3>
    <div class="form-group">
        <input type="text" class="form-controll" placeholder="username" #userName required />
    </div>
    <div class="form-group">
        <input type="password" class="form-controll" placeholder="password" #userPassword required />
    </div>
    <div class="form-group">
        <input type="button" class="btn" value="login" (click)="signIn(userName.value, userPassword.value)">
        <input type="button" class="btn" value="register" (click)="signUp(userName.value, userPassword.value)">
    </div>
</div>