<div>
    <div class="buttonsPanel">
        <h1 class="title">Administracja</h1>
        <span class="buttons">
            <button class="btn" routerLink='/'>Powrót</button>
            <button class="btn" routerLink='/admin/categories' *ngIf="isLoggedIn()">Kategorie</button>
            <button class="btn" routerLink='/admin/results' *ngIf="isLoggedIn()">Wyniki</button>
            <input type="button" class="btn" value="Wyloguj" (click)="logout()" *ngIf="isLoggedIn()">
        </span>
    </div>
    <div class="router-outlet">
        <router-outlet></router-outlet>
    </div>
</div>




<div class="authBlock" *ngIf="!isLoggedIn()">
    <h2>Logowanie</h2>
    <div class="form-group">
        <input type="text" class="form-controll" placeholder="Użytkownik" #userName required />
    </div>
    <div class="form-group">
        <input type="password" class="form-controll" placeholder="Hasło" #userPassword required />
    </div>
    <div class="form-group">
        <input type="button" class="btn" value="Zaloguj" (click)="signIn(userName.value, userPassword.value)">
        <input type="button" class="btn" value="Zarejestruj" (click)="signUp(userName.value, userPassword.value)">
    </div>
    <p class="notification">Zaloguj się aby uzyskać dostęp do panelu administratora!</p>
</div>