<div class="appContainer">
  <div class="container">
    <div class="description">
      <h2 class="title">Jak to będzie wyglądać!</h2>
      <p>
        Przedstawiam quiz, który sprawdzi Twoją wiedzę z kilku dostępnych
        dziedzin. Wybierz kategorię pytań, a następnie odpowiedz na wszystkie.
        Po zakończeniu zobaczysz, jaki wynik udało Ci się uzyskać.
      </p>
    </div>
    <div>
      <h4 class="rulesContainer">
        Przed rozpoczęciem zapoznaj się z zasadami!
      </h4>
      <ul class="rulesList">
        <li>
          Na rozwiązanie quizu masz ograniczony czas, który jest wyświetlany w
          dolnym prawym rogu. Gdy czas minie, quiz automatycznie się zakończy.
        </li>
        <li>Za każdą poprawną odpowiedź zdobędziesz 1 punkt.</li>
        <li>
          Wyniki zobaczysz na ekranie podsumowania po rozwiązaniu wszystkich
          pytań.
        </li>
        <li>Nie zamykaj okna z quizem.</li>
        <li>Powodzenia!</li>
      </ul>
    </div>

    <div class="button">
      <a (click)="closeWelcome()">Zaczynamy</a>
    </div>
  </div>
</div>
