@import "../../../styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  width: 85%;
  text-align: center;
}

.description {
  margin: 4rem 0 4rem 0px;
}

.description p {
  margin-top: 3rem;
}

.rulesList {
  padding: 0;
  list-style-type: decimal;
  text-align: left;
  font-size: 0.9rem;
}

.rulesList li {
  margin: rem 0;
}

.buttons {
  margin-top: 4rem;
}

.button {
  display: inline-block;
  margin: 20px;

  a {
    cursor: pointer;
    background-color: $secondary-color;
    color: #282c34;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 1.2em;
  }
}
