<div class="appContainer">

    <div class="section_categories">
        <h4>Wybierz kategorię pytań:</h4>
        <div class="categories">
            <div class="one btn" id="animals" (click)="selectCategory($event)">Zwierzęta</div>
            <div class="two btn" id="biology" (click)="selectCategory($event)">Biologia</div>
            <div class="three btn" id="chemistry" (click)="selectCategory($event)">Chemia</div>
            <div class="four btn" id="computerscience" (click)="selectCategory($event)">Informatyka</div>
            <div class="five btn" id="polish" (click)="selectCategory($event)">Język Polski</div>
            <div class="six btn" id="languages" (click)="selectCategory($event)">Języki</div>
        </div>
    </div>



    <div class="categoryNotification">
        <p *ngIf="category">Wybrano quiz z kategorii: <b>{{category}}</b></p>
    </div>

    <div class="userName">
        <p>Podaj swoją nazwę użytkownika!</p>
        <div class="controlsButtons">
            <input id="name" type="text" placeholder="Twoja nazwa" [formControl]="name"
                (keydown.enter)="setQuizStart()">
            <button (click)="setQuizStart()">Start</button>
        </div>
    </div>
    <p class="error">{{error}}</p>

    <p>Nie zamykaj okna póki nie zakończy się quiz!</p>
</div>