@import "../../../styles/variables.scss";

h2 {
  margin-bottom: 100px;
  text-align: center;
}

.submitContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 600px;
}

.submitButton {
  margin: 20px;
  cursor: pointer;
  background-color: $secondary-color;
  color: #282c34;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 50px;
  font-size: 1.2em;
  text-align: center;
}
