<div class="appContainer">
    <div class="container">
        <div>
            <h2 class="title">Witaj w MyQuiz</h2>
        </div>
        <div class="description">
            <p>Możesz sprawdzić swoją wiedzę spośród kilku dostępnych kategorii. Wybierz kategorię, odpowiedź na
                wszystkie pytania i zobaczy jaki wynik udało Ci się uzyskać.</p>
            <p>Pamiętaj aby w trakcie quizu nie zamykać okna, na każde pytanie masz 60 sekund, po zakończeniu quizu Twój
                wynik zostanie wyświetlony na ekranie.</p>
        </div>

        <div class="buttons">
            <button class="btn" (click)="closeWelcome()">Zaczynamy</button>
        </div>
    </div>
</div>