<div class="container">
  <h1>Witaj w <span class="colored">MyQuiz</span></h1>
  <h3>
    Platforma stworzona z myślą o quizach, które rozwijają wiedzę i bawią.
  </h3>
  <p>
    Wyzwania czekają! Sprawdź swoje umiejętności w wielu dziedzinach i zobacz,
    jak poradzisz sobie w quizach przygotowanych przez społeczność. A może
    chcesz stworzyć własny quiz? To prostsze niż myślisz!
  </p>

  <div class="button">
    <a routerLink="home"> Rozwiąż Quiz </a>
  </div>
  <div class="button">
    <a routerLink="admin"> Stwórz Quiz </a>
  </div>

  <div class="illustration">
    <img src="/assets/quiz-illustration.png" alt="Ilustracja quizu" />
  </div>
</div>
asdasd
s