<div style="text-align: center; color: #fff; font-family: Arial, sans-serif; background-color: #282c34; padding: 50px;">
    <h1 style="font-size: 3em; margin-bottom: 10px;">Witaj w <span style="color: #61dafb;">MyQuiz</span></h1>
    <h3 style="font-size: 1.5em; font-weight: normal; margin-bottom: 30px;">Platforma stworzona z myślą o quizach, które
        rozwijają wiedzę i bawią.</h3>
    <p style="font-size: 1.2em; line-height: 1.5em; margin-bottom: 40px;">
        Wyzwania czekają! Sprawdź swoje umiejętności w wielu dziedzinach i zobacz, jak poradzisz sobie w quizach
        przygotowanych przez społeczność.
        A może chcesz stworzyć własny quiz? To prostsze niż myślisz!
    </p>

    <div style="display: inline-block; margin: 20px;">
        <a routerLink="home"
            style="background-color: #61dafb; color: #282c34; text-decoration: none; padding: 15px 30px; border-radius: 50px; font-size: 1.2em;">
            Rozwiąż Quiz
        </a>
    </div>
    <div style="display: inline-block; margin: 20px;">
        <a routerLink="admin"
            style="background-color: #61dafb; color: #282c34; text-decoration: none; padding: 15px 30px; border-radius: 50px; font-size: 1.2em;">
            Stwórz Quiz
        </a>
    </div>

    <div style="margin-top: 50px;">
        <img src="/assets/quiz-illustration.png" alt="Ilustracja quizu"
            style="max-width: 30%; height: auto;border-radius: 18px; opacity: 0.8;" />
    </div>
</div>