.appContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ecf0f1;
  height: 700px;
  width: 700px;
  border: 1px solid black;
  border-radius: 18px;
  margin-top: 60px;
}

.btn-back {
  align-self: flex-start;
  margin-bottom: 20px;
}

.code {
  max-height: 500px;
  overflow: auto;
  display: flex;
  justify-content: center;
}
